OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-your-openai-api-key-here

TEXT_CHAT_MODEL=gpt-4.1-mini
TEXT_COMPLETION_MODEL=gpt-3.5-turbo-instruct
VISION_CHAT_MODEL=gpt-4.1-mini
EMBEDDING_MODEL=text-embedding-3-small

VISION_IMAGE_PATH=https://huggingface.co/datasets/huggingface/documentation-images/resolve/main/transformers/tasks/cat.jpg
